<ng-container *ngIf="products.length !== 0">
    <div class="container">
        <div class="card-table">
            <div class="card-product" *ngFor="let item of products; let i = index">
                <div class="product-info">
                    <p class="product-title">{{item.title}}</p>
                    <img class="product-image" id="image" [src]="item.image" alt="{{item.title}}">
                    <p class="product-price">Price: ${{item.price}}</p>
                    <p class="product-quantity">Quantity: {{item.quantity}}</p>
                    <p class="product-total">Total: ${{item.total}}</p>
                </div>
                <button (click)="removeItem(item)" class="btn btn-danger">Remove Item</button>
                <br>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length === 0">
    <div class="container">
        <div class="card">
            <h5 class="cart-title">My Cart</h5>
        </div>
        <div class="center">
            <h4>Cart is empty!</h4>
            <button routerLink="/products" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>
