<header>
    <div class="navbar navbar-dark bg-secondary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i rounterLink="/products" style="font-size: 40px;" class="fas">&nbsp;
            </i>
            <div class="form-group">
            </div>
        </div>
        <button routerLink="cart" class="btn">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size:10px ;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>